h1{
  font-family: Georgia, 'Times New Roman', Times, serif

} 
h1{
  text-align: center

}

h6 {

  font-family: Georgia, 'Times New Roman', Times, serif


}
h6{
  text-align: center
}


img {
margin:20px ;
padding-left: 15%;
height: 400px;
width:400px;

  
}



img{

margin: 20px;
  padding-left: 15%;
height: 400px;
width:400px ;
}


footer{

  text-align: center;
  

  font-family: w Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background:#810000;



}


h5{

  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  background:#ce1212;
}

h6{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  background:#ce1212;
}



nav ul a {
  display: inline;

margin: 30px;

text-decoration-line: none;

text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;

}

li a{

text-decoration-line: none;
font-family: Georgia, 'Times New Roman', Times, serif;
text-align: center;
border: 1xp solid black; 

}






#fri_p {
background: #eeebdd

}


ff {
  background: #eeebdd
}