h1{
  font-family: Georgia, 'Times New Roman', Times, serif

} 
h1{
  text-align: center

}

h6 {

  font-family: Georgia, 'Times New Roman', Times, serif


}
h6{
  text-align: center
}


img {

padding-left: 15%;
height: 400px;
width: 150%;

  
}



img{


  padding-left: 15%;
height: 200px;
width: 65%;
}


footer{

  text-align: center;
  

  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background: red




}

h5{

  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  background: yellow
}

h6{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  background: yellow
}
